* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bebebe;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Ширина контейнера формы на больших экранах */
    max-width: 400px; /* Максимальная ширина контейнера формы */
    background-color: #d5d5d5;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    margin-bottom: 20px;
    margin: 20px auto;
    margin-top: 150px;
}

.form-container {
    width: 100%;
    max-width: 300px;
    text-align: center;

    padding: 20px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid hsl(0, 0%, 63%);
    border-radius: 5px;
    background-color: hwb(0 96% 4%);
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.toggle-btn {
    cursor: pointer;
    color: #3498db;
    margin-top: 10px;
}

.toggle-btn:hover {
    text-decoration: underline;
}

.main {
    width: 600px; /* Фиксированная ширина основного контейнера */
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    background-color: #f0f0f0;
    margin: 20px auto; /* Центрируйте основной контейнер */
}
#sendEmailForm {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Heading styles */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 20px;
  }
  .gender-radio-container {
    display: flex;
    justify-content: space-between;
    width: 100px; /* Измените это значение в соответствии с вашими потребностями */
}

  /* Label styles */
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Input styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
  }
.header {
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 200px; 
}


.input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.input label {
    order: 2;
}

.input input {
    order: 1;
    width: 70%;
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 10px;
}

.header h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.header .request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header .input-group label {
    order: 2;
}

.header .input-group input {
    order: 1;
    width: 70%;
}

.header input[type="text"],
.header input[type="email"],
.header input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;

}

.header button {
    padding: 12px 20px;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.header button:hover {
    background-color: #2980b9;
}


.login-container button[type="button"] {
    padding: 12px 20px;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.carousel-inner img {
    width: 100%;
    height: 600px; /* Установите высоту, которую вы хотите */
    object-fit: cover; /* Это свойство обеспечивает, чтобы изображения заполняли область без растягивания */
  }
  
.login-container button[type="button"]:hover,
.header button:hover {
    background-color: #2980b9;
}

.header p {
    margin-top: 10px;
    text-align: center;
    font-size: smaller;
    word-wrap: break-word;
    overflow: auto;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px; /* Уменьшаем отступы на маленьких экранах */
    }

    .login-container {
        width: 95%; /* Уменьшаем ширину контейнера формы на маленьких экранах */
    }

    .main {
        width: 95%; /* Уменьшаем ширину основного контейнера на маленьких экранах */
    }
}

@media screen and (max-width: 576px) {
    /* Дополнительные стили для экранов с шириной до 576px */
    .login-container {
        width: 100%; /* Измените ширину контейнера формы на самый узкий экран */
    }

    .main {
        width: 100%; /* Измените ширину основного контейнера на самый узкий экран */
    }
}

@media screen and (min-width: 1200px) {
    /* Дополнительные стили для экранов с шириной от 1200px и более */
    .login-container {
        max-width: 600px; /* Увеличьте максимальную ширину контейнера формы на больших экранах */
    }

    .main {
        max-width: 800px; /* Увеличьте максимальную ширину основного контейнера на больших экранах */
    }
}
